body, html, #root, main{
  height: 100%;
}
.project{
  transition: all 0.5s;
  /* box-shadow: 6px 5px 24px 12px rgba(0, 0, 0, 0.15); */
}
.project:hover{
  
  transform: scale(1.05);
}
.navlink{
  transition: all 0.5s;
}

.navlink:hover{
  transform: scale(1.3);
  font-weight: bold;
}

.bgimg{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  width: 100%;
  text-align: center; 
  margin-bottom: 50px; 
  margin-top: 20px;
  color: #dee2e6;
  font-weight: bold;
  text-transform: uppercase;
}

.typing {
  
  color: white;
  height: 48px;
  width: 390px;
  border-right: 1px solid transparent;
  animation: typing 2s steps(42, end), blink-caret .75s step-end infinite;
  font-family: Consolas, Monaco;
  word-break: break-all;
  overflow: hidden;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
      border-color: transparent;
  }

  50% {
      border-color: currentColor;
  }
}